<!doctype html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
</head>
<body>
<div ng-controller="CtrlApp">
<h1>{{name}} {{sobrenome}}, {{idade}}</h1>
    <input type="text" ng-model="name" id="">
</div>
<script>
    var CtrlApp = function ($scope) {
        $scope.name = "Adriano";
        $scope.sobrenome = "Freitas";
        $scope.idade = 39;

        $scope.$watch('name', function () {
           console.log($scope.name)
        });
    }
</script>
</body>
</html>